body {
  /* https://uigradients.com/#Relay */
  background: #3a1c71; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#main-title {
  font-family: 'Pacifico', cursive;
  color: #FFF;
  padding: 30px 0px;
}
