/* Bootstrap Overrides */
.btn-primary {
  color: #333;
  background-color: #FFF;
  border-color: #4e555b;
}

.btn-primary:hover {
  color: #FFF;
  background-color: #333;
  border-color: #4e555b;
}

.btn-primary.disabled {
  color: #333;
  background-color: #FFF;
  border-color: #4e555b;
}

.btn-secondary {
  color: #333;
  background-color: #FFF;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* background: #d32323; YELP COLOR */
  background: #3d5667;
  margin-bottom: 50px;
}

#banner {
  background: #FFF;
  padding: 7px;
  text-align: center;
}

#main-title {
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Hanalei Fill', cursive;
  color: #FFF;
  padding: 30px 0 0 0;
}

#main-blurb {
  color: #FFF;
  font-size: 0.85em;
}

.body-card {
  padding: 20px 15px;
  margin: 10px 0px;
	border: 1px solid #FFF;
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
}

.body-title {
  margin: 1.5rem 0;
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Hanalei Fill', cursive;
  color: #FFF;
}

#submit-button {
  margin-top: 1.5rem;
}
